### Gradle ###
.gradle/
build/
app/build/

### IntelliJ IDEA ###
.idea/
*.iml
out/

### VS Code ###
.vscode/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Compiled Java ###
*.class

### Logs ###
*.log

### OS Files ###
.DS_Store
Thumbs.db

### Local runtime data ###
app/data/